<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>
                List
            </h2>
            <a href="/contact/add" class="btn btn-success"> Add</a>

            <% if (msg.length!==0) { %>
             <div class="alert alert-success" role="alert"> <%= msg %></div>
            <% } %>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Email</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% if(data.length === 0) { %>
                        <tr>
                            <td colspan="4">   Not Found </td>
                        </tr>
                    <% } %>
                    <%  data.forEach((contact,i) => { %>
                        <tr>
                            <th scope="row"><%=  i+1 %></th>
                            <td><%=  contact.nama %></td>
                            <td><%=  contact.email %></td>
                            <td><%=  contact.nohp %></td>
                            <td><a href="/contact/<%= contact.nama %>" class="btn btn-success badge rounded-pill">Detail</a></td>
                        </tr>
                    <% }) %>
                 
                 
                </tbody>
              </table>
        </div>
    </div>
</div>